

.app-bar {
  margin-bottom: 20px;
}

.content {
  padding: 20px;
}

@media print {
  .app-bar {
    display: block !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    background-color: blanchedalmond !important;
    box-shadow: none !important;
  }
}

@media (max-width: 600px) {
  .app-bar {
    min-height: auto !important;
  }
  .MuiTabs-root {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
  .MuiTab-root {
    max-width: 50% !important;
  }
}
